html {
	position: relative;
	height: 100%
}

body {
	position: relative;
	padding: 45px 0 35px 0;
	min-height: 100%;
}

h1 {
	margin: 10px 0;
}

h2 {
	margin: 10px 0;
}

#tpl-content {
	position: relative;
}

#tpl-footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	margin:0;
	z-index: 2000;
}

.footer {
	padding:10px;
	background: #555555;
	text-align: center;
	color:#FFFFFF;
	font-size: 10px;
}


.form .has-error small.error {
	color: #FF4136;
	font-style: italic;
}

.form-delete {
	display:inline;
}

.nowrap {
	white-space: nowrap;
}

.pagination-info {
	margin: 25px 0;
}

.sidebar {
	margin: 10px 0 0 0;
	position: fixed;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}

.nav li a {
	background: #efefef;
}

.nav li a:hover {
	background: #e1e1e1;
}

.nav .nav-header {
	margin: 15px 0 5px;
	font-size: 16px;
}

.green {
	color: #0EEA15;
}

.red {
	color: red;
}

.chartArea {
	position: relative;
}

.chartComplete {
	height: 600px;
}

.chartCompact {
	height: 270px;
}

.loading {
	position: absolute;
	left:50%;
	margin-top:100px;
	margin-left:-16px;
	display:none;
}

.table tbody tr.owned:nth-of-type(2n+1){
	background-color: #BCF9B3;
}

.table tbody tr.owned{
	background-color: #C8FCC2;
}

.table tbody tr.watched:nth-of-type(2n+1){
	background-color: #F7E8AA;
}

.table tbody tr.watched{
	background-color: #F7ECC0;
}

.panel.login {
	margin:40px 0 0 0;
}

/* navbar */
.navbar-xs .navbar { min-height:28px; height: 28px; margin-bottom: 5px;}
.navbar-xs .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; height: auto;}
.navbar-xs .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar { min-height:40px; height: 40px; margin-bottom: 5px; }
.navbar-sm .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; height: auto;}
.navbar-sm .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 36px; }

@media ( max-height : 350px) {
	.sidebar {
		position: relative;
	}
}